{% extends "base.html" %}  

{% block page_content %}

      <br></br>
      <div class="page-header">
        <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
      </div>
      <br></br>
      <div class="row">
        <form class="col s4 push-s3" method="POST">
          <div class="row">
	    <div class="input-field col s12">
	      {{ form.hidden_tag() }}
	      {{ form.email(id="email") }}
	      <label for="email">Email</label>
	    </div>
          </div>
	  {{ form.submit(class="btn waves-effect waves-light") }}
        
        </form>
      </div>

{% endblock %}

