{% extends "base.html" %}  

{% block page_content %}

      <br>
      <div class="page-header">

      </div>          
      <br>
      <div class="row">
        <form class="col s4 push-s3" method="POST">
          <div class="row">
	    <div class="input-field col s12">
	      {{ form.hidden_tag() }}
	      {{ form.email(id="email") }}
	      <label for="email">Email</label>
	    </div>
          </div>
          <div class="row">
	    <div class="input-field col s12">
	      {{ form.hidden_tag() }}
	      {{ form.password(id="password") }}
	      <label for="password">Password</label>
	    </div>
          </div>
	  <p>
	    {{ form.remember_me(id="test5") }}
	    <label for="test5">Remember me</label>
	  </p>
          {% if notValid %}
	    <div class="alert">Invalid user or password!</div>
	  {% endif %}
	  {{ form.submit(class="btn waves-effect waves-light") }}

        </form>
      </div>

{% endblock %}

